@import "element-plus/dist/index.css";
@import "./app.scss";
@import "common/transition.scss";
@import "./other.scss";
@import "./element.scss";
@import "./media/media.scss";
@import "./waves.scss";
@import "./dark.scss";
@import "./naive.scss";

.iconpark-icon {
  width: 1em;
  height: 1em;
}

/* 搜索表单 */
.form-item-small {
  width: 15rem;
}
.form-item-medium {
  width: 20rem;
}
.form-item-large {
  width: 25rem;
}

.form-item-long-small {
  width: 30rem;
}
.form-item-long-medium {
  width: 40rem;
}
.form-item-long-large {
  width: 50rem;
}

/* 颜色值 */
.color-primary {
  color: var(--el-color-primary) !important;
}

.color-success {
  color: var(--el-color-success) !important;
}

.color-warning {
  color: var(--el-color-warning) !important;
}

.color-danger {
  color: var(--el-color-danger) !important;
}

.color-info {
  color: var(--el-color-info) !important;
}

/*单行超出省略号*/
.ellipsis_1 {
  display: block !important;
  white-space: nowrap;
  /*这里设置inline-block或者block；根据使用情况来定（行内元素需要加这个，块级元素和行内块级可以不用）*/
  overflow: hidden;
  text-overflow: ellipsis;
}

/*多行超出省略号*/
@for $i from 2 through 10 {
  .ellipsis_#{$i} {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: #{$i};
    /*这个数字是设置要显示省略号的行数*/
    -webkit-box-orient: vertical;
  }
}
